
*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color:rgb(129, 184, 255);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo{
    text-decoration: none;
    color:white;
    font-weight: 1000;
    font-size: 1.8em;

}
.navigation a{
    color: white;
    text-decoration: none;
    margin: 20px;
    font-weight: 500;
    font-size: 1.1em;
}
.navigation a:hover{
    color: blue;
}
section{
    padding: 100px 200px;
}
.main {
    width: 100%;
    min-height: 100vh; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background: url(images/df24bc94-e39a-44b0-92db-b364ef838ac8.webp) no-repeat center center; 
    background-size: cover; 
    background-color: rgb(59, 59, 59); 
    color: white; 
    text-align: center; 
    padding: 0 20px; 
}

.main h2 {
    color:  rgb(0, 0, 0);
    margin-bottom: 10px;
    font-size: 2em;
}

.main h2 span {
    color: rgb(24, 0, 110)  ;
    font-size: 2.0em;
    font-weight: 800;
}

.main h3 {
    color: rgb(0, 0, 0);
    margin-bottom: 20px; 
    font-size: 1.8em;
}
.btn{
    letter-spacing: 2px;

}
.btn:hover{
    transform: scale(1.1);
}
.icons{
    margin: 15px;
}
.icons a{
    padding: 20px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.card{
    margin: 20px;
    box-shadow: 0 5px 30px black;
}
.cards h2{
    display: flex;
    justify-content: center;
    color: blue;
    font-weight: 1000;
}